{% extends "base.html" %}


{% block users-box %}
{% if user.username %}
<div class="user-box">
    <a class="user-link" href="{% url 'accounts:logout' %}">logout</a>
    <p>|</p>
    <a class="user-link user-name" href="/user/{{ user.id }}/">{{ user.username }}</a>
</div>
{% else %}
<div class="user-box">
    <a class="user-link" href="{% url 'accounts:registration' %}">registration</a>
    <p>  |  </p>
    <a class="user-link" href="{% url 'accounts:login' %}">login</a>
</div>
{% endif %}
{% endblock %}


{% block top-nav %}
<div class="fluid-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'p_library:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'p_library:book_list' %}">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'p_library:author_list' %}">Autors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'p_library:friend_list' %}">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'p_library:publisher_list' %}">Publishers</a>
        </li>
    </ul>
</div>
{% endblock %}


{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="support-container">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="support-distance">
                <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
