{% extends 'base.html' %}


{% block users-box %}
    {% if user.username %}
        <div class="user-box">
            <a class="user-link" href="{% url 'accounts:logout' %}">logout</a>
            <p>|</p>
            <a class="user-link user-name" href="/user/{{ user.id }}/">{{ user.username }}</a>
        </div>
    {% else %}
        <div class="user-box">
            <a class="user-link" href="{% url 'accounts:registration' %}">registration</a>
            <p>  |  </p>
            <a class="user-link" href="{% url 'accounts:login' %}">login</a>
        </div>
    {% endif %}
{% endblock %}


{% block top-nav %}
    <div class="fluid-conteiner">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'p_library:book_list' %}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:author_list' %}">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:friend_list' %}">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:publisher_list' %}">Publishers</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item add-btn">
                    <a class="nav-link" href="{% url 'p_library:book_create' %}">add book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'p_library:author_book_create_many' %}">add authors & books</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <table class="table" style="margin-top: 5px">
            <thead class="table-head">
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">image</th>
                    <th scope="col">title / ISBN</th>
                    <th scope="col">Description</th>
                    <th scope="col">Year release</th>
                    <th scope="col">Author name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Reader</th>
                    <th scope="col">Copy count</th>
                    <th scope="col">add/del copy</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr class="table-row">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><img src="{{ book.book_img.url }}" alt="{{ book.title }}"></td>
                    <td>
                        <h6>
                            {% if user.is_authenticated %}
                                <a href="{{ book.id }}/">{{ book.title }}</a>
                            {% else %}
                                <a href="#">{{ book.title }}</a>
                            {% endif %}
                        </h6>
                        <p><small>({{ book.ISBN }})</small></p>
                    </td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.year_release }}</td>
                    <td>{{ book.author.full_name }}</td>
                    <td>{{ book.author.country }}</td>
                    <td>{{ book.reader.full_name }}</td>
                    <td>{{ book.copy_count }}</td>
                    <td style="text-align: center">
                        {% if user.is_authenticated %}
                            <form action="book_increment/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ book.id }}">
                                <input class="btn" type="submit" value="+">
                            </form>
                            <form action="book_decrement/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ book.id }}">
                                <input class="btn btn-low" type="submit" value="-">
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}