{% extends 'base.html' %}

{% block content %}
    <div class="fluid-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/book/">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/author/">Autors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/friend/">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publisher/">Publishers</a>
            </li>
            <li class="nav-item add-btn">
                <a class="nav-link disabled" href="/author_book/create_many/">add authors & books</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="support-container">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <p>
                    <input class="btn support-distance" type="submit" value="Save">
                </p>
            </form>
        </div>
    </div>
{% endblock %}
