{% extends 'base.html' %}

{% block content %}
    <div class="fluid-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/book/">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  active" href="/author/">Autors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/friend/">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publisher/">Publishers</a>
            </li>
            <li class="nav-item add-btn">
                <a class="nav-link" href="/author/create/">add author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/author/create_many/">add couple authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/author_book/create_many/">add authors & books</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <table class="table" style="margin-top: 5px">
            <thead class="table-head">
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birth date</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                {% for author in object_list %}
                <tr class="table-row">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{{author.id}}/">{{ author.full_name }}</a></td>
                    <td>{{ author.birth_year }}</td>
                    <td>{{ author.country }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
