{% extends 'base.html' %}


{% block users-box %}
    {% if user.username %}
        <div class="user-box">
            <a class="user-link" href="{% url 'accounts:logout' %}">logout</a>
            <p>|</p>
            <a class="user-link user-name" href="/user/{{ user.id }}/">{{ user.username }}</a>
        </div>
    {% else %}
        <div class="user-box">
            <a class="user-link" href="{% url 'accounts:registration' %}">registration</a>
            <p>  |  </p>
            <a class="user-link" href="{% url 'accounts:login' %}">login</a>
        </div>
    {% endif %}
{% endblock %}


{% block top-nav %}
    <div class="fluid-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:book_list' %}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  active" href="{% url 'p_library:author_list' %}">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:friend_list' %}">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:publisher_list' %}">Publishers</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item add-btn">
                    <a class="nav-link" href="{% url 'p_library:author_create' %}">add author</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'p_library:author_book_create_many' %}">add authors & books</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="support-container">
            <form method="post">
                {% csrf_token %}
                {{ author_formset.management_form }}
                {% for form in author_formset %}
                    <h5>{{ forloop.counter }} author:</h5>
                    <br>
                    <table>
                        {{ form }}
                    </table>
                    <br>
                {% endfor %}
                <p>
                    <input class="btn support-distance" type="submit" value="Save"/>
                </p>
            </form>
        </div>
    </div>


{% endblock %}

