{% extends 'base.html' %}


{% block users-box %}
    {% if user.username %}
        <div class="user-box">
            <a class="user-link" href="{% url 'accounts:logout' %}">logout</a>
            <p>|</p>
            <a class="user-link user-name" href="/user/{{ user.id }}/">{{ user.username }}</a>
        </div>
    {% else %}
        <div class="user-box">
            <a class="user-link" href="{% url 'accounts:registration' %}">registration</a>
            <p>  |  </p>
            <a class="user-link" href="{% url 'accounts:login' %}">login</a>
        </div>
    {% endif %}
{% endblock %}


{% block top-nav %}
    <div class="fluid-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:book_list' %}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:author_list' %}">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'p_library:friend_list' %}">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'p_library:publisher_list' %}">Publishers</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item add-btn">
                    <a class="nav-link" href="{% url 'p_library:friend_create' %}">add friend</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <table class="table" style="margin-top: 5px">
            <thead class="table-head">
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birth date</th>
                    <th scope="col">is reading now</th>
                </tr>
            </thead>
            <tbody>
                {% for friend in object_list %}
                <tr class="table-row">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        {% if user.is_authenticated %}
                            <a href="{{friend.id}}/">{{ friend.full_name }}</a>
                        {% else %}
                            <a href="#">{{ friend.full_name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ friend.birth_year }}</td>
                    <td>
                        <ul>
                            {% for book in friend.book_reader.all %}
                                <li>{{ book.title }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}